body{
    font-weight: 400;
    font-size: 30px;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    margin:20px;
}

header{
    background-color: rgb(127, 190, 211);
    height:50px;
}

footer{
    background-color: darkorange;
    height:50px;
}

.container{
    display: flex;
    margin:20px;
    height: 24rem;
}

#sidebar{
    background-color: rgb(125, 194, 93);
    height: 24rem;
    width:17rem;
}

#box{
    margin-left: 20px;
    height: 23.5rem;
    width: 65rem;
}

#main{
    background-color: rgb(242, 175, 50);
    height: 19rem;
    margin-bottom: 12px;
}

#extra{
    background-color: grey;
    height: 4.1rem;
}