body{
    font-weight: 400;
    font-size: 30px;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    margin:20px;
}

header{
    background-color: rgb(127, 190, 211);
    height:50px;
}

footer{
    background-color: darkorange;
    height:50px;
}

.flex-container{
    display: flex;
    margin:20px;
}

#sidebar{
    background-color: rgb(125, 194, 93);
    margin-right: 20px;
    height: 23rem;
    width: 20rem;
}

#box{
    flex-direction: column;
}

#main{
    background-color: rgb(242, 175, 50);
    margin-bottom: 20px;
    height: 19rem;
    width: 50rem;
}

#extra{
    background-color: grey;
    height: 4rem;
    flex-direction: column;
}

#content{
    background-color: rgba(0, 0, 0, 0.469);
    margin-left: 15rem;
    height: 67%;
    width: 79%;
    padding: 5rem;
    position: absolute;
    transform: translate(-25%,-90%);
    font-size: larger;
    display: none;
}

#close{
    border-radius: 30%;
    float: right;
}